/* form div {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

form div input {
  width: fit-content;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

textarea {
  height: 100px;
}

form div {
  display: flex;
}

* {
  width: fit-content;
}

img,
a {
  display: block;
}
